@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right,#343434, #454445);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    margin: 0;
}

.music-container {
    background-color: #191919;
    border-radius: 15px;
    display: flex;
    padding: 20px 30px;
    position: relative;
    margin: 100px 0;
    z-index: 10;
}

.img-container {
    position: relative;
    width: 110px;
}

.img-container::after {
    content: '';
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    bottom: 100%;
    left: 50%;
    width: 20px;
    height: 20px;
    transform: translate(-50%, 50%);
    z-index: 2000;
}

.img-container img {
    border-radius: 50%;
    object-fit: cover;
    height: 110px;
    width: inherit;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: rotate 3s linear infinite;
    animation-play-state: paused;
    z-index: 100;
}

.music-container.play .img-container img {
    animation-play-state: running;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.action-btn {
    background-color:transparent;
    border: 0;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    margin: 0 20px;
    transition: all ease .32s;
}

.action-btn.action-btn-big {
    color: #fff;
    font-size: 30px;
}

.action-btn:hover {
    color: #f6f6f6;
}

.action-btn:focus {
    outline: 0;
}

.music-info {
    background: #555455;
    border-radius: 15px 15px 0 0;
    position: absolute;
    top: 0;
    left: 20px;
    width: calc(100% - 40px);
    padding: 10px 10px 10px 150px;
    opacity: 0;
    transform: translateY(0%);
    transition: transform 0.3s ease-in, opacity 0.3s ease-in;
    z-index: 0;
}

.music-container.play .music-info {
    opacity: 1;
    transform: translateY(-100%);
}

.music-info h4 {
    margin: 0;
}

.progress-container {
    background: #717071;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    height: 4px;
    width: 100%;
}

.progress {
    position: relative;
    background-color: #fff;
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: width 0.1s linear;
}

.progress-container:hover .progress::before{
    display: block;
}

.progress::before {
    display: none;
    content: '';
    background: #46d760;
    width: 12px;
    height: 12px;
    position: absolute;
    right: 0;
    top: 50%;
    border-radius: 50%;
    transform: translateY(-50%);
}


/* ----------- */

h1{
    color: white;
}

.music-info.active {
    transform: translateY(-63px);
    opacity: 1;
}

.img-container img.active {
    animation: rotate linear 3s infinite;
}

#title {
    color:#fff;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}